[diff "odf"]
    textconv=odt2txt
[diff "pdf"]
    textconv=/usr/local/bin/pdftotext_git
[diff "apk"]
    textconv = /opt/android-sdk/build-tools/23.0.2/aapt dump badging
[diff "bz2"]
    binary = true
    textconv = /bin/bzcat
[diff "gzip"]
    binary = true
    textconv = /bin/zcat
[diff "tar"]
    binary = true
    textconv = tar --to-stdout -tvf
[diff "tar-gz"]
    binary = true
    textconv = tar --to-stdout -tvzf
[diff "tar-bz2"]
    binary = true
    textconv = tar --to-stdout -tvjf
[diff "zip"]
    binary = true
    textconv = unzip -v
